@font-face {
    font-family: 'Klimaks';
    src: url('Klimaks.ttf');
}

body {
    background-color: #000000;
    margin: 30px;
    font-family: 'Klimaks';
}

.page-container {
    border: 1px solid #ffffff;
    padding: 30px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    background-color: #000000; 
}
.title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    margin: 5px;
}

.label {
    margin: 5px;
    font-weight: 100;
    color: #ffffff;
}


.header_top {
    position: fixed;
    z-index: 10;
    left: calc(var(--pad)*2);
    top: calc(var(--pad)*2);
    mix-blend-mode: difference;
}

.backheader {
    margin-top: 50px;
}

.menue {
    color: #ffffff;
    font-size: small;
    font-family: Arial;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.menue:hover {
    opacity: 0.5;
}

.backheader2 {
    margin: 10px;
}

.description_header {
    color: #ffffff;
    font-size: small;
    font-family: Arial;
    position: fixed;
    bottom: 100px;
    left: 75%;
    right: 10%;
}